@charset "UTF-8";

.c-card {
  display: grid;
  place-items: center;
}

.c-card.-price {
  padding: pxtorem(40px) pxtorem(20px) 0;
  background-color: var(--color-main);
  border-radius: pxtorem(10px);
}

.c-card__header {
  text-align: center;
}

.c-card__header.-price {
  width: 100%;
  padding-block-end: pxtorem(20px);
  line-height: 1.15;
  border-bottom: 1px solid var(--color-border);
}

.c-card__body {
  width: 100%;
  text-align: center;
}

.c-card__title,
.c-card__text {
  display: block;
}

.c-card__title.-price {
  margin-block-end: pxtorem(10px);
  font-size: pxtorem(26px);
  font-weight: 600;
  color: var(--color-accent);
}

.c-card__text.-price {
  font-family: var(--font-sans-en);
  font-size: pxtorem(48px);
  font-weight: 400;
}

.c-card__text.-price .-sm {
  display: block;
  font-family: var(--font-sans-ja);
  font-size: pxtorem(16px);
  font-weight: 300;
}

.c-card__items {
  padding-block: pxtorem(30px);
  line-height: 1.15;
}

.c-card__itemName {
  margin-block-end: pxtorem(5px);
  font-size: pxtorem(18px);
  font-weight: 300;
}

.c-card__item {
  font-size: pxtorem(16px);
  font-weight: 600;
}
