@charset "UTF-8";

.c-swiper {
  position: relative;
}

.c-swiper-wrapper.-price {
  gap: pxtorem(15px);
  justify-content: space-between;
}

.c-swiper-wrapper .c-swiper-slide {
  width: calc(100% / 3 - 10px);
}

.c-swiper.-price {
  margin-right: pxtorem(25px);
  overflow: visible;

  @media (--lg) {
    margin-right: initial;
  }
}

.c-swiper-slideImg {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
    object-position: center;
  }
}

.p-studio__swiper__wrapper .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: initial;
  bottom: -32px;
}

.c-swiper__buttons {
  position: absolute;
  top: 50%;
  right: -20px;
  left: -20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  transform: translateY(-50%);

  @media (--md) {
    right: -30px;
    left: -30px;
  }
}

.c-swiper__buttons .c-swiper-button-prev,
.c-swiper__buttons .c-swiper-button-next {
  position: initial;
  border-radius: 50%;
}

.c-swiper__buttons .c-swiper-button-prev.-studio,
.c-swiper__buttons .c-swiper-button-next.-studio {
  width: pxtorem(40px);
  height: pxtorem(40px);
  margin-top: initial;
  color: var(--color-accent);
  background-color: var(--color-main);

  @media (--md) {
    width: pxtorem(60px);
    height: pxtorem(60px);
  }
}

.c-swiper__buttons .c-swiper-button-prev.-studio::after,
.c-swiper__buttons .c-swiper-button-next.-studio::after {
  font-size: pxtorem(12px);
  font-weight: 700;

  @media (--md) {
    font-size: pxtorem(16px);
  }
}

.swiper-pagination-bullet-active {
  background: var(--color-accent) !important;
}

.c-swiper__scroll {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: grid;
  gap: pxtorem(5px);
  place-items: center;
  width: fit-content;
  padding: pxtorem(17px) pxtorem(8px);
  visibility: visible;
  background-color: rgb(0 0 0 / 60%);
  border-radius: pxtorem(4px);
  opacity: 1;
  transition: var(--duration-fast) cubic-bezier(0.25, 0.1, 0.26, 0.98);
  transition-property: opacity, visibility;
  transform: translate(0, -50%);

  @media (--lg) {
    display: none;
  }
}

.c-swiper__scroll__text {
  order: 1;
  font-size: pxtorem(12px);
  font-weight: 300;
  line-height: 1.15;
  color: var(--color-main);
}

.c-swiper__scroll__img {
  img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
}

/* js */

.c-swiper__scroll.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: var(--duration-fast) cubic-bezier(0.25, 0.1, 0.26, 0.98);
  transition-property: opacity, visibility;
}
